@import '../../assets/styles/scss/mixins/colors';
@import '../../assets/styles/scss/mixins/screen';
@import '../../assets/styles/scss/mixins/fonts';

.add-btn-container {
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

.add-btn-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover { transform: translateY(-10px); }
}

.add-btn-label {
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    padding: 0.5rem 0.8rem;
    font-size: 2rem;
    padding: 0.5rem 0.8rem;
    margin-right: 0.5rem;
    cursor: pointer;

    @include desktop { font-size: 2rem; }
    @include screen-md { font-size: 1.5rem; }
    @include screen-sm { font-size: 1rem !important; padding: 0.4rem 0.7rem; }

    &:hover { background-color: #1d4ed8; }
  }

  .add-btn-text {
    font-family: $primary-font;
    font-weight: 600;
    color: #333;
  }