@import '../../assets/styles/scss/mixins/colors';
@import '../../assets/styles/scss/mixins/screen';
@import '../../assets/styles/scss/mixins/fonts';

.button {
  width: 100% !important;
  margin: 0 auto;
  background-color: $blue-color;
  color: #fff;
  border-radius: 12px;
  padding: 1.15rem;
  font-weight: bold;
  font-size: inherit;
  border: none;
  transition: background 0.3s ease;

  &:hover {
    background-color: #1d4ed8;
  }
}