@import '../../assets/styles/scss/mixins/colors';
@import '../../assets/styles/scss/mixins/screen';
@import '../../assets/styles/scss/mixins/fonts';

.button {
  background-color: $blue-color;
  color: #fff;
  font-family: 'Montserrat';
  border-radius: 12px;
  padding: 1.15rem;
  font-weight: bold;
  font-size: inherit;
  margin: 0 auto;
  border: none;
  width: 100% !important;
  transition: all 0.3s ease;

  &:hover { background-color: #1d4ed8; }
}