@import '../mixins/colors';
@import '../mixins/fonts';

.swal2-html-container {
  display: flex !important;
  align-items: center;
  justify-content: center !important;
}

.swal2-actions {
  width: 80% !important;
}

.swal2-confirm {
  background-color: $blue-color !important;
  font-family: $primary-font !important;
  color: #fff !important;
  border-radius: 8px !important;
  padding: 0.7rem 1.5rem !important;
  font-weight: bold !important;
  border: none !important;
  width: 100% !important;
  transition: background 0.3s ease !important;

  &:hover {
    background-color: #1d4ed8 !important;
  }
}

.swal2-cancel {
  background-color: #e5e7eb !important;
  color: #333 !important;
}






.custom-swal-popup {
  background-color: #fff !important;
  border-radius: 12px !important;
  padding: 2rem !important;
  color: #333 !important;
}

.custom-swal-confirm-btn {
  background-color: red !important; // 💙 Azul primario
  color: #fff !important;
  border-radius: 8px !important;
  padding: 0.7rem 1.5rem !important;
  font-weight: bold !important;
  border: none !important;
  transition: background 0.3s ease !important;

  &:hover {
    background-color: darken(#2563eb, 10%) !important;
  }
}

.custom-swal-cancel-btn {
  background-color: #e5e7eb !important; // ⚪ Gris claro
  color: #333 !important;
  border-radius: 8px !important;
  padding: 0.7rem 1.5rem !important;
  font-weight: bold !important;
  border: none !important;
  transition: background 0.3s ease !important;

  &:hover {
    background-color: #d1d5db !important;
  }
}
