@import '../mixins/colors';
@import '../mixins/fonts';

// Mui Components

// Campos de Texto
.MuiTextField-root {
  background-color: #f9fafb;
  border-radius: 12px;

  .MuiOutlinedInput-root {
    border-radius: 12px;

    fieldset { border-color: #d1d5db; }

    &:hover fieldset { border-color: #9ca3af; }

    &.Mui-focused fieldset { border-color: $secondary-color; }

    input {
      text-align: center !important;
      font-size: 1rem;
      color: #333;

      &::placeholder {
        text-align: center !important;
        color: #9ca3af;
      }

    }

  }

  // Label
  .MuiFormLabel-root {
    &.MuiInputLabel-root {
      font-family: $primary-font;
      font-size: 0.9rem;

     &.Mui-focused fieldset { border-color: $secondary-color; }
    }
  }

  //Iconos naranjas
  .MuiInputAdornment-root svg {
    color: $secondary-color !important;
    transition: color 0.2s ease-in-out;
  }

  // Al enfocar el input, mantiene el naranja
  .MuiOutlinedInput-root.Mui-focused + .MuiInputAdornment-root svg {
    color: $secondary-color !important;
  }

  .MuiSvgIcon-root{ color: $secondary-color !important;}
}

.MuiPickersInputBase-root { 
  &.MuiPickersOutlinedInput-root { 
    border-radius: 12px;
    border-color: red;
  } 
  
}

// Campo año
.MuiFormControl-root{ 
  &.MuiPickersTextField-root {
    background-color: #f9fafb;
    border-radius: 12px !important;

    &.Mui-focused fieldset {          // Borde color
      &.MuiPickersOutlinedInput-notchedOutline{ border-color: $secondary-color !important; }
    }
  }

  .MuiFormLabel-root {                // Label "Año"
    &.MuiInputLabel-root{ 
      &.Mui-focused { color: $black-color !important; }
    }
  }

  // Placeholer 'yyyy' & value
  .MuiPickersSectionList-root {
    justify-content: center;

    .MuiPickersSectionList-section {
      text-transform: lowercase;
      text-align: center !important;
      font-size: 1rem;
      // color: #777;
    }
  }

  .MuiSvgIcon-root{ color: $secondary-color !important;}
}

// Botones
.MuiButton-root {
  width: 100% !important;
  border-radius: 12px !important;
  font-size: 1.05rem !important;
  font-weight: 600 !important;
  text-transform: none !important;
  padding: 0.9rem !important;
  margin-top: 0.6rem !important;

  &.MuiButton-containedPrimary {
    background-color: $primary-color !important;

    &:hover { background-color: #1d4ed8 !important;; }
  }

  &.MuiButton-outlinedSecondary {
    background-color: #e5e7eb !important;
    color: #333 !important;
    border: none !important;

    &:hover { background-color: #d1d5db !important; }
  }
}


// Responsive
@media (max-width: 480px) {
  .MuiTextField-root input { font-size: 0.95rem; }
}