@import '../../assets/styles/scss/mixins/colors';
@import '../../assets/styles/scss/mixins/fonts';
@import '../../assets/styles/scss/mixins/screen';

.title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    h1 {
        font-family: $primary-font;
        color: $primary-color;
        font-weight: 600;
        margin: 0;
        font-size: 1.6rem;
        transition: all 0.3s ease;

        @include screen-md { font-size: 1.6rem !important; }
        @include tablet { font-size: 1.4rem !important; }
        @include screen-sm { font-size: 1.4rem !important; }
        @include mobile { font-size: 1.4rem !important; }
        @include mobilePortrait { font-size: 1.4rem !important; }
        @include mobileLandscape { font-size: 1.2rem !important; }
    }

    /* Ajuste de padding para pantallas más pequeñas */
    @include screen-md {
        padding-top: 0;
        padding-bottom: 15px;
    }

    @include screen-sm {
        padding-top: 0;
        padding-bottom: 15px;
    }

    @include mobile {
        padding-top: 0;
        padding-bottom: 15px;
    }

    @include mobilePortrait {
        padding-top: 0;
        padding-bottom: 15px;
    }

    @include mobileLandscape {
        padding-top: 0;
        padding-bottom: 15px;
    }
}
