@import '../../assets/styles/scss/mixins/colors';
@import '../../assets/styles/scss/mixins/fonts';
@import '../../assets/styles/scss/mixins/screen';

.title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    h1 {
        font-family: $primary-font;
        color: $blue-color;
        font-weight: 600;
        margin: 0;
        font-size: 2rem;

        @include screen-md {
            font-size: 1.8rem !important;
        }

        @include tablet {
            font-size: 1.6rem !important;
        }

        @include screen-sm {
            font-size: 1.8rem !important;
        }

        @include mobile {
            font-size: 1.6rem !important;
        }

        @include mobilePortrait {
            font-size: 1.6rem !important;
        }

        @include mobileLandscape {
            font-size: 1.4rem !important;
        }
    }

    /* Ajuste de padding para pantallas más pequeñas */
    @include screen-md {
        padding-top: 0;
        padding-bottom: 0;
    }

    @include screen-sm {
        padding-top: 0;
        padding-bottom: 0;
    }

    @include mobile {
        padding-top: 0;
        padding-bottom: 0;
    }

    @include mobilePortrait {
        padding-top: 0;
        padding-bottom: 0;
    }

    @include mobileLandscape {
        padding-top: 0;
        padding-bottom: 0;
    }
}
