@import '../mixins/colors';
@import '../mixins/screen';
@import '../mixins/fonts';

.home-container {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 90vh;
  background: #f6f8fb;
  padding: 2rem 2rem;

  @include screen-sm { padding: 2rem 1rem; }
}

.home-content {
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  color: #333;
  padding: 2rem 2rem;

  @include screen-sm { padding: 1.5rem 0.5rem; }
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  h1 {
    font-family: $primary-font;
    color: $blue-color;
    font-size: 2.2rem;
  }

  .home-add-btn {
    background-color: $blue-color;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 2rem;
    padding: 0.5rem 0.8rem;

    @include desktop { font-size: 2rem; }
    @include screen-md { font-size: 1.5rem; }
    @include screen-sm { font-size: 1rem; }

    &:hover {
      background-color: #1d4ed8;
      transform: translateY(-10px);
    }
  }
}

.home-search {
  margin-bottom: 2rem;
  text-align: center;

  input {
    width: 100%;
    padding: 0.8rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 12px;
    font-size: 1rem;
    transition: 0.3s ease;

    &:focus {
      outline: none;
      border-color: $blue-color;
      box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2);
    }
  }
}

.home-grid {
  display: inline-block;
  width: 100%;
  gap: 2rem;
}

.home-property-card {
  display: flex;
  flex-wrap: nowrap;
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;
  transition: all 0.3s ease;
  border: 1px solid #e5e7eb;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  }

  .home-property-card-img {
    width: 5vw;
    height: 5vh;
  }

  .home-property-card-info {
    display: flex;
    flex-direction: row;
    min-width: 0;         /* permite el truncado dentro del flex container */
    padding: 0.25rem 1rem;
    
    @include screen-sm { padding: 0.25rem 0.2rem; }

    h3 {
      margin: 0;
      font-size: 1.3rem;
      color: #222;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;           /* permite que el texto use todo el espacio disponible */
      min-width: 0;      /* indispensable en contenedores flex */
      max-width: 100%;   /* evita que el texto se desborde del contenedor */

      @include desktop { font-size: 1.3rem; }
      @include screen-md { font-size: 1rem; }
      @include screen-sm { font-size: 0.75rem; }
    }
  }

  
  .home-property-card-buttons {
    margin-left: auto; /* 🔹 Empuja los botones al extremo derecho */
    display: flex;
    align-items: center;
    gap: 1rem 0.5rem !important; /* Espacio entre los botones */

    @include screen-sm { gap: 0 0.5rem !important; }

    button {
      background-color: transparent;
      border: none;
      text-align: right;

      &:hover {
        transform: translateY(-7.5px);
      }
    }
  }
}

.home-pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #555;

  .home-page-btn {
    background-color: $blue-color;
    border: none;
    color: #fff;
    padding: 0.6rem 1.2rem;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;

    &:hover:not(:disabled) {
      background-color: #1d4ed8;
      transform: translateY(-2px);
    }

    &:disabled {
      background-color: #e5e7eb;
      color: #9ca3af;
      cursor: not-allowed;
    }

    span {
      display: inline-block;

      @include screen-sm { display: none; }

    }
  }
}

.home-accept-btn {
  background-color: $blue-color;
  color: #fff;
  border-radius: 8px;
  padding: 0.7rem 1.5rem;
  font-weight: bold;
  border: none;
  transition: background 0.3s ease;

  &:hover {
    background-color: #1d4ed8;
  }
}

/* Estilo claro para SweetAlert */
.home-swal-popup {
  background-color: #ffffff !important;
  color: #333 !important;
  border-radius: 12px !important;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15) !important;
}

/* Responsive */
@media (max-width: 768px) {
  .home-content {
    padding: 1.5rem;
  }

  .home-header h1 {
    font-size: 1.8rem;
  }

  .home-search input {
    width: 100%;
  }
}
