@import './assets/styles/scss/mixins/colors';
@import './assets/styles/scss/mixins/fonts';
@import './assets/styles/scss/mixins/screen';

// Swal2 Alert styles
@import './assets/styles/scss/components/Alert.scss';

// Mui components
@import './assets/styles/scss/components/Mui.scss';

// DropZone image component
@import './assets/styles/scss/components/DropZone.scss';

.App { text-align: center; }